<div>
  <h1 class="text-4xl"><%= link_to @watched.media.title, @watched.media %></h1>
  <p class="my-5">Watched <%= @watched.watched_at.to_formatted_s(:long_ordinal) %></p>
</div>

<div class="mt-10">
  <%= button_to "Delete watched", watched_path(@watched), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn" %>
</div>
