<%= render layout: "search/row", locals: {
  image: media["profile_path"] ? "https://image.tmdb.org/t/p/w185#{media["profile_path"]}" : nil,
  title: media["name"],
  icon: :person,
  url: person_path(media["id"]),
} do %>
    <% if media["known_for"].any? %>
      <p class="mt-3">Known for: <%= media["known_for"].map { |kf| kf["title"] || kf["name"] }.reject(&:blank?).join(", ") %></p>
    <% end %>
<% end %>
